
*{/*para hacer que los elementos de la pagina no tengan margenes salo especificacion posterior 
    y permitir que ocupe el color de inicio toda la pagina*/
    margin: 0;
    border: 0;
    padding: 0;
}
/*_____________________ELEMENTOS HEADER_______________________________*/

#inicio{/*para dar formato a header gris a la paginaentera*/
    width: 100%;
    height: 100vh;
    background-color: #ccc;
}
#inicio .contenedor{/*para dar formato del contenedor */
  width:100% ;
  height: auto;
}

#inicio .contenedor header{/*para dar formato a header blanco*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
}

#inicio .contenedor header .titulo{/*para dar formato al titulo que esta dentro de header poniendolo en el medio*/
    width: 400px; 
    margin: 0 auto;
    /* background-color: aqua; para ver el centrado y lo que ocupa */

}


/*_____________________ELEMENTOS MAIN_______________________________*/

